@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  font-family: "Nunito Sans", sans-serif !important;
  margin: 0px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.card-description {
  margin-top: 10px;
}

.card-title {
  margin-bottom: 15px;
}

strong {
  font-weight: 800px;
}
